@{
    ViewData["Title"] = "Evaluación";
}

<h2>@ViewData["Title"]</h2>

<div id="evaluacion">
    Resultado: @ViewBag.Resultado
</div>

<style>
    body{
    background-color: #99B3EB;
    }

    h2{
        color: yellow;
    }

    .id{
        color: red;
    }
</style>